XSD/1.0/evtTabProcesso.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.reinf.esocial.gov.br/schemas/evtTabProcesso/v01_00_00" targetNamespace="http://www.reinf.esocial.gov.br/schemas/evtTabProcesso/v01_00_00" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
  <xs:element name="Reinf">
    <xs:annotation>
      <xs:documentation>EFD-Reinf</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="evtTabProcesso">
          <xs:annotation>
            <xs:documentation>Evento Tabela de Processos</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ideEvento" type="TIdeEvento">
                <xs:annotation>
                  <xs:documentation>Informações de Identificação do Evento</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ideContri" type="TIdeContri">
                <xs:annotation>
                  <xs:documentation>Informações de identificação do contribuinte</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="infoProcesso">
                <xs:annotation>
                  <xs:documentation>Informações do Processo</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice>
                      <xs:element name="inclusao">
                        <xs:annotation>
                          <xs:documentation>Inclusão de novas informações</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="idePeriodo" type="TPerVal">
                              <xs:annotation>
                                <xs:documentation>Período de validade das informações incluídas</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="ideProcesso">
                              <xs:annotation>
                                <xs:documentation>Informações de identificação do Processo e validade das informações que estão sendo incluídas</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="tpProc">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Tipo de Processo</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:byte">
                                        <xs:pattern value="\d"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="nrProc">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Número do Processo</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:length value="21"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="infoSusp" type="TSusp" maxOccurs="50">
                                    <xs:annotation>
                                      <xs:documentation>Informações de Suspensão de Exibilidade de tributos</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="dadosProcJud" type="TJud" minOccurs="0">
                                    <xs:annotation>
                                      <xs:documentation>Informações Complementares do Processo Judicial</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="alteracao">
                        <xs:annotation>
                          <xs:documentation>Alteração das informações</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="idePeriodo" type="TPerValAlt">
                              <xs:annotation>
                                <xs:documentation>Período de validade das informações alteradas</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="ideProcesso">
                              <xs:annotation>
                                <xs:documentation>Grupo de informações de identificação do processo, apresentando número e período de validade do registro cujas informações serão alteradas pelos dados constantes neste evento.</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="tpProc">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Tipo de Processo</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:byte">
                                        <xs:pattern value="\d"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="nrProc">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Número do Processo</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:length value="21"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="infoSusp" type="TSusp" maxOccurs="50">
                                    <xs:annotation>
                                      <xs:documentation>Informações de Suspensão de Exibilidade de tributos</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="dadosProcJud" type="TJud" minOccurs="0">
                                    <xs:annotation>
                                      <xs:documentation>Informações Complementares do Processo Judicial</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="novaValidade" type="TPerVal" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>Informação preenchida exclusivamente em caso de alteração do período de validade das informações do registro identificado no evento, apresentando o novo período de validade</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="exclusao">
                        <xs:annotation>
                          <xs:documentation>Exclusão das informações</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="idePeriodo" type="TPerValAlt">
                              <xs:annotation>
                                <xs:documentation>Informação destinada a localizar corretamente as informações já existentes e que serão objeto de exclusão através deste evento.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="ideProcesso">
                              <xs:annotation>
                                <xs:documentation>Grupo de informações que identifica o processo objeto da exclusão.</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="tpProc">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Tipo de Processo</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:byte">
                                        <xs:pattern value="\d"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                  <xs:element name="nrProc">
                                    <xs:simpleType>
                                      <xs:annotation>
                                        <xs:documentation>Número do Processo</xs:documentation>
                                      </xs:annotation>
                                      <xs:restriction base="xs:string">
                                        <xs:length value="21"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element ref="ds:Signature"/>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element ref="ds:Signature"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TIdeEvento">
    <xs:annotation>
      <xs:documentation>Informações de Identificação do Evento</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpAmb">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de ambiente</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="procEmi">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Processo de emissão do evento</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="verProc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Versão do processo de emissão do evento. </xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TIdeContri">
    <xs:annotation>
      <xs:documentation>Informações de identificação do contribuinte</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tpInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Tipo de Inscrição.</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nrInsc">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Número de Inscrição</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="\d{11,15}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TPerVal">
    <xs:annotation>
      <xs:documentation>Período de validade das informações incluídas</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="iniValid">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Início da validade (AAAA-MM)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="[2]{1}\d{3}-(1[0-2]|0[1-9])"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="fimValid" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Período final da validade, no formato (AAAA-MM)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="7"/>
            <xs:pattern value="[2]{1}\d{3}-(1[0-2]|0[1-9])"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSusp">
    <xs:annotation>
      <xs:documentation>Informações de suspensão de exigibilidade de CT</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codSusp" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código do Indicativo da Suspensão</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
            <xs:pattern value="\d{1,14}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indSusp">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Indicativo de suspensão da exigibilidade</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="2"/>
            <xs:pattern value="\d{2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="dtDecisao">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Data da decisão, sentença ou despacho</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:date">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indDeposito">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Depósito do Montante Integral</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="1"/>
            <xs:pattern value="[N|S]"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TJud">
    <xs:annotation>
      <xs:documentation>Informações de dados do processo</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ufVara">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Identificação da UF da Seção Judiciária</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:enumeration value="AC"/>
            <xs:enumeration value="AL"/>
            <xs:enumeration value="AP"/>
            <xs:enumeration value="AM"/>
            <xs:enumeration value="BA"/>
            <xs:enumeration value="CE"/>
            <xs:enumeration value="DF"/>
            <xs:enumeration value="ES"/>
            <xs:enumeration value="GO"/>
            <xs:enumeration value="MA"/>
            <xs:enumeration value="MT"/>
            <xs:enumeration value="MS"/>
            <xs:enumeration value="MG"/>
            <xs:enumeration value="PA"/>
            <xs:enumeration value="PB"/>
            <xs:enumeration value="PR"/>
            <xs:enumeration value="PE"/>
            <xs:enumeration value="PI"/>
            <xs:enumeration value="RJ"/>
            <xs:enumeration value="RN"/>
            <xs:enumeration value="RS"/>
            <xs:enumeration value="RO"/>
            <xs:enumeration value="RR"/>
            <xs:enumeration value="SC"/>
            <xs:enumeration value="SP"/>
            <xs:enumeration value="SE"/>
            <xs:enumeration value="TO"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="codMunic" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código do Município</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:integer">
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="idVara">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Código de Identificação da Vara</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="indAutoria" minOccurs="0">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Autoria da Ação Judicial</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:byte">
            <xs:pattern value="\d"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TPerValAlt">
    <xs:annotation>
      <xs:documentation>Período de validade das informações</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="iniValid">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Início da validade (AAAA-MM)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:pattern value="[2]{1}\d{3}-(1[0-2]|0[1-9])"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="fimValid">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Período final da validade, no formato (AAAA-MM)</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:string">
            <xs:length value="7"/>
            <xs:pattern value="[2]{1}\d{3}-(1[0-2]|0[1-9])"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
